<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>post</title>
</head>
<body>
    <form action="/post" method="post">
        <p>test : <input type="text" name="test"></p>
        <input type="submit" value="pass">
    </form>

    <form action="/post2" method="post">
        <p>test2 : <input type="text" name="test2"></p>
        <input type="submit" value="pass2">
    </form>

    <form action="/post3" method="post">
        <p>test3 : <input type="text" name="test3"></p>
        <input type="submit" value="pass3">

        <p>test4 : <input type="text" name="test4"></p>
        <input type="submit" value="pass4">
    </form>
    
</body>
</html>